body {
    background-color: #808080;
    color: white;
}
@font-face {
    font-family: One;
    src: url('Raleway-Black.ttf');
}
@font-face {
    font-family: Two;
    src: url('Raleway-Thin.ttf');
}
h1 {
    font-size: 40px;
    text-align: center;
    font-family: One;
    text-shadow: #8B0000 1px 0 10px;
}
h2 {
    font-size: 25px;
    text-align: left;
    font-family: Two;
    
}

section {
    float: left;
    margin: 0 1.5%;
    width: 58%;
    height: 70%;
}
aside {
    float: right;
    margin: 0 1.5%;
    width: 32%;
}
img {
    width: 900px;
    height: 530px;
}