form {
    margin-left: 500px;
}
.stroka {
    background: #D2B48C;
}
.knopka {
    background: #D2B48C;
}

h2 {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 30%;
    background: #808080;
    margin: auto;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #696969;
}

.weekend {
    color: #800000;
}

.holiday {
    background-color: #8B4513;
}


