body {
    background-color: #FDF5E6
}

@font-face {
    font-family: One;
    src: url('Raleway-Black.ttf');
}

@font-face {
    font-family: Two;
    src: url('Raleway-Thin.ttf');
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: One;
}
p {
    font-size: 18px;
    color: DarkOrange;
    text-align: left;
    font-family: One;
}
h2 {
    font-size: 25px;
    text-align: center;
    font-family: One;
    text-decoration: underline #FFA07A;
}
/*Forms*/
.container {
    padding: 40px;
}

input[type=text], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #FFE4B5;
    font-family: Two;
}
    input[type=text]:focus, input[type=date]:focus { /*наведение изменение цвета*/
        background-color: #DCDCDC;
        outline: none;
    }

.text { /*стиль текста*/
    font-family: Two;
    font-size: 23px;
}
.ttt {
    float: left;
    width: 75%;
    margin-top: 6px;
    background-color: #FFE4B5;
    font-family: Two;
    font-weight: 600;
}
.clr {
    color: #4169E1
}
.rar {
    color: black
}
/*  нопка */
button {
    background-color: #FFEFD5;
    color: black;
    font-family: One;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }


.next{
    float: left;
    width: 100%;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .next {
        width: 100%;
    }
}
